.wallet-button {
    border: none;
    padding: 10px;
    min-width: 20;
    margin: 5px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.wallet-text {
    white-space: nowrap;
    width: 100%;                   /* 100% or  IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}

.btns {
    padding-top: 20px;
    padding-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin-right: 10px;
    
}

.logo > img {
    height: 40px;
}

.logo > p {
    font-family: 'Jaldi';
    font-size: 24px;
    color: white;
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo-spacing {
    line-height: 0.8;
}