@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        font-family: "Inter", sans-serif;
    }

    html,
    body {
        @apply bg-base-100 text-base-content h-full;
    }

    .font-exo {
        font-family: "Exo 2", sans-serif;
    }

    #__next {
        @apply isolate flex min-h-full flex-col slashed-zero;
    }
}

@layer components {
    .app-section {
        @apply px-2 md:px-[30px] lg:px-[60px] xl:px-[120px];
    }

    .app-section > * {
        @apply mx-auto w-full max-w-7xl;
    }

    .layout-base {
        @apply app-section mx-auto mt-14 flex w-full flex-col items-center space-y-6 pb-8 bg-base-100;
    }

    .header {
        @apply flex top-0 z-50 fixed w-full rounded-b-2xl items-center justify-between gap-10 text-base-content backdrop-blur-md;
        padding-inline: clamp(0.5rem, 2.5vw, 2rem);
        padding-block: clamp(1rem, 2.5vh, 2rem);
    }

    .shadow-1 {
        @apply shadow-[0px_3px_7px_rgba(0,0,0,0.12)];
    }

    .shadow-2 {
        @apply shadow-[0px_0px_9px_-2px_rgba(0,0,0,0.16)];
    }

    .nav-button {
        @apply rounded-full border py-2 px-4 font-medium btn-primary;
    }

    .btn-state {
        @apply btn-primary;
    }

    .primary-button {
        @apply whitespace-nowrap rounded py-2 px-8 text-sm font-bold btn-primary;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12);
    }

    .full-width-button {
        @apply flex flex-row btn-primary justify-center w-full py-4 mr-4 px-16 border-2 items-center rounded-full;
    }

    .badge-active {
        @apply font-normal text-sm bg-success text-base-100 rounded-full mr-4 px-[4.0erm] py-1;
    }

    .badge-non-active {
        @apply font-normal text-sm bg-base-300 rounded-full mr-4 px-[4.0erm] py-1;
    }

    .secondary-button {
        @apply flex items-center gap-2 whitespace-nowrap font-medium h-10 rounded-full py-2 px-8 text-sm btn-primary disabled:bg-base-200;
    }

    .form-submit-button {
        @apply rounded-full border-2 py-2 px-3 font-normal btn-primary;
    }

    .form-neutral-button {
        @apply rounded-full border-2 py-2 px-3 font-normal btn-ghost border-primary hover:border-primary;
    }

    .chat-button {
        @apply flex flex-row py-4 px-2 justify-center items-center;
    }

    .text-highlighter {
        @apply font-normal my-2 lg:text-5xl text-3xl text-base-content;
    }

    .input-label {
        @apply label-text text-base;
    }

    .dao-label {
        @apply font-normal text-base-content lg:text-5xl md:text-4xl text-2xl;
    }

    .dao-about-button {
        @apply flex text-base px-[16px] py-[6px] h-[32px] bg-base-200 gap-1 rounded-full;
    }

    .input-label-selector {
        @apply text-base text-base-content;
    }

    .sub-label {
        @apply text-sm mb-2 text-base-content/50;
    }

    .input-selector {
        @apply w-full rounded border-2 bg-base-200 border-base-300 px-3 py-[7px] slashed-zero outline-none placeholder:text-sm placeholder:text-base-content/20;
    }

    .input-field {
        @apply input bg-base-200 mb-4 placeholder:text-base-content/50;
    }

    .checkbox-field {
        @apply flex h-12 w-48 cursor-pointer items-center justify-center gap-1 bg-base-200 rounded px-4 hover:bg-primary-focus hover:text-base-100;
    }

    .checkbox-field:checked,
    .checkbox-field[checked="true"],
    .checkbox-field[aria-checked="true"] {
        @apply bg-primary text-base-100;
    }

    .nft-cards-grid {
        @apply place-items-center mt-8 gap-5 grid md:grid-cols-2 lg:grid-cols-3;
    }

    .nft-card {
        @apply flex flex-col overflow-hidden w-72 rounded-lg border border-base-300;
    }

    .nft-card-mockup {
        @apply border-solid shadow-1 border-base-300 border-2 lg:w-1/4 w-1/2 rounded-md;
    }

    @keyframes shimmer {
        0% {
            background-position: -1000px 0;
        }
        100% {
            background-position: 1000px 0;
        }
    }

    [data-backdrop] {
        background-color: rgb(0 0 0 / 80%);
    }

    .dialog {
        @apply shadow-2 opacity-95 absolute top-8 bottom-8 z-50 m-auto mt-auto flex h-fit max-h-[80vh] max-w-lg flex-col overflow-auto rounded-2xl border border-base-300 bg-base-100 sm:left-8 sm:right-8;
    }

    .banner-hidden {
        --banner-display: none !important;
    }

    .has-banner {
        --banner-display: block;
    }

    #banner {
        display: var(--banner-display);
    }

    #onboard-form #token-render-value {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .gradient-btn-color {
        @apply bg-gradient-to-r from-primary via-primary to-secondary;
    }

    .reverse-gradient-btn-color {
        @apply bg-gradient-to-r from-primary via-secondary to-primary;
    }

    @media (max-width: 360px) {
        .balance-wrap {
            flex-direction: column !important;
            align-items: start !important;
        }

        .balance-wrap > *:last-child {
            margin-left: 2rem;
        }
    }
}
/* Web3AUTH */
#w3a-modal {
    z-index: 100;
}
/* RainbowKit Wallet */
[data-rk] ._9pm4ki3 {
    z-index: 50;
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
